@model webUserLoginTest.Models.ViewModel.SignupViewModel

@{
    Layout = "_Layout";
}

<h2>title</h2>
<div>
    <label>ログイン済みです</label>
    <label asp-for="Name"></label>
    <label>@Model.Name</label>
</div>